<div ng-controller="PatientListCtrl">
    <div class="panel panel-default">
        <div class="panel-heading">Patients</div>
        <div class="panel-body">
            <div class="list-group">
                <a href="#" class="list-group-item" ng-click="selectionHandler(patient)" ng-repeat="patient in patients">
                    {{patient.firstname + " " + patient.surname}}
                </a>
            </div>
        </div>
    </div>
</div>

