<div ng-controller="PatientDetailsChartCtrl">
  <div class="panel panel-default">
    <div class="panel-heading">Data{{isInit ? ""  : " of "}}<span ng-hide="isInit" ng-bind="getName(selectedPatient)"></span></div>
    <div class="panel-body">
      <!-- Here comes the charts for {{patientData}} -->
      <div class="charts-wrapper" ng-if="!isInit">
        <div class="charts-container">
            <linechart data="data" options="bloodpressureOptions"></linechart>
        </div>
        <div class="charts-container">
            <linechart data="data" options="cholesterinOptions"></linechart>
        </div>
        <div class="charts-container">
            <linechart data="data" options="bsaOptions"></linechart>
        </div>
      </div>
    <div class="placeholder" ng-if="isInit">
      <p>Get the medical data by selecting a patient on the left.</p>
      </div>
    </div>
  </div>
</div>