.charts-container {
  margin-bottom: 50px;
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}

.charts-container.ng-hide {
  opacity:0;
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}
@-moz-keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}
@-webkit-keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}
@-moz-keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}
@-webkit-keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}

.ng-hide:not(.ng-hide-animate) {
  /* this is just another form of hiding an element */
  visibility: hidden;
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.ng-enter, .view-frame.ng-leave {
  background: white;
  top: 0;
  left: 0;
  right: 0;
}

.ng-enter {
  -webkit-animation: 0.5s fade-in;
  -moz-animation: 0.5s fade-in;
  -o-animation: 0.5s fade-in;
  animation: 0.5s fade-in;
  z-index: 100;
}

.ng-leave {
  -webkit-animation: 0.5s fade-out;
  -moz-animation: 0.5s fade-out;
  -o-animation: 0.5s fade-out;
  animation: 0.5s fade-out;
  z-index:99;
}